body {
  background-color: linen;
  font-family: sans-serif;
}

label {
  color: blue;
  font-weight: bold;
  vertical-align: top;
}

#buttons {
  text-align: center;
}

#messageArea {
  display: none;
  height: 30px;
  width: 100%;
}

#textArea {
  height: 280px;
  width: 400px;
}

#titleInput {
  width: 400px;
}

#titleSelect {
  height: 100%;
  margin-right: 20px;
  width: 200px;
}

#titleSelect, #rightDiv {
  display: inline-block;
  float: left;
}

.row {
  margin-bottom: 10px;
}
