body {
  background-color: linen;
  font-family: sans-serif;
}

label {
  display: inline-block;
  text-align: right;
  width: 100px;
}

table, th, td {
  border-collapse: collapse;
  border: solid black 1px;
  padding: 5px;
}

table {
  width: 300px;
}

td {
  background-color: white;
}

th {
  background-color: yellow;
}
